body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
}

#inputArea{
  width: 40%;
  height: 320px;
  margin: 10px;
  padding: 10px;
}

#outputArea{
  width: 40%;
  height: 320px;
  margin: 10px;
  padding: 10px;
}

.instructions {
  width: 85%;
  margin: auto;
  text-align: left;
}

hr {
  width: 85%;
}

button{
  width: 100px;
  height: 40px;
  margin: 20px 80px;
}
